/*@keyframes upAndDown {
    from {margin-top: 1%;}
    to {margin-top: 99%;}
}

@keyframes leftToRight {

}

@keyframes downAndUp {
  from {margin-top: 99%;}
  to {margin-top: 1%;}
}

body {
  background-color: black;
}

.box {
  height: 300px;
  width: 250px;
  border: 2px solid orange;
  border-radius: 5px;
  margin-left: 400px;
}

.dot {
  height: 50px;
  width: 50px;
  background: radial-gradient(#00F, #66F, #E5E5FF);
  border-radius: 10px;
  margin-left: 5%;
  animation-name: upAndDown;
  animation-name: downAndUp;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.black-center {
  background-color: black;
  margin: 0 auto;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}*/

body {
  background-color: black;
}

/*.ship-section {
  position: absolute;
}*/

.enterprise-box {
  border: 1px solid white;
  border-radius: 50px 0;
  height: 35vh;
  width: 55vw;
  /*margin-left: 5vw;
  margin-top: 5vh;*/
  position: absolute;
}

.enterprise-picture {
  height: 20vh;
  width: 30vw;
  position: relative;
  left: 35%;
  margin-top: 2%;
}

.crew-logs-box {
  border: 1px solid red;
  border-radius: 10px;
  width: 12vw;
  height: 12vh;
  /*margin-left: 1%;
  margin-bottom: 5%;*/
  margin-right: 0;
  position: relative;
  bottom: 7%;
  left: 10%;
}

.rectangle {
  height: 7vh;
  width: 11vw;
  margin-left: 4%;
  margin-top: 2%;
}

.yellow-border {
  border: 1px solid yellow;
}

p {
  color: yellow;
}

.ship-name {
  color: #c2a15f;
  width: 15vw;
  margin: 0;
  padding-left: 8%;
}

.info-section {
  border: 1px solid white;
  border-radius: 50px 0;
  height: 35vh;
  width: 55vw;
  position: absolute;
}

.idk {
  color: white;
}
